/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*color scheme*/
    --danger: #f05042;
    --success: #66D9AA;
    --neutral: #f9a340;
    --accent-1: #79d5cf;
    --accent-2: #66bcd9;
    --accent-3: #476c89;
    --accent-4: #6d649b;
    --accent-5: #32396A;
    --foreground-light: #FFFFFF;
    --foreground-medium: #333333;
    --foreground-dark: #000000;
    /*Fonts*/
    --title-fonts: Monoton, "Times New Roman", serif;
    --body-fonts: Poppins, Verdana, sans-serif;

    /*Font sizes*/
    --txt-size-default: 1rem;
    --txt-size-xs: calc( var(--txt-size-default) * 0.6 );
    --txt-size-sm: calc( var(--txt-size-default) * 0.8 );
    --txt-size-md: calc( var(--txt-size-default) * 1 );
    --txt-size-lg: calc( var(--txt-size-default) * 1.12 );
    --txt-size-xl: calc( var(--txt-size-default) * 1.25 );
    --txt-size-xxl: calc( var(--txt-size-default) * 1.5 );

    --title-h1: calc( var(--txt-size-default) * 2.5 );
    --title-h2: calc( var(--txt-size-default) * 2 );
    --title-h3: calc( var(--txt-size-default) * 1.75 );
    --title-h4: calc( var(--txt-size-default) * 1.5 );
    --title-h5: calc( var(--txt-size-default) * 1.25 );
    --title-h6: var( --txt-size-default );

    /*spaces*/
    --space-default: 1rem;
    --space-xs: calc( var(--space-default) * .25 );
    --sapce-sm: calc( var(--space-default) * .5 );
    --space-md: calc( var(--space-default) * 1 );
    --space-lg: calc( var(--space-default) * 1.5 );
    --space-xl: calc( var(--space-default) * 2 );
    --space-xxl: calc( var(--space-default) * 3 );

    /*container-max-width*/
    --container-max-width-sm: 540px;
    --container-max-width-md: 720px;
    --container-max-width-lg: 960px;
    --container-max-width-xl: 1140px;
    --container-max-width-xxl: 1320px;
    --container-max-width-xxxl: 1650px;

    --container-max-width: var(--container-max-width-sm);
}

/*************************
* #main styles
**************************/

body {
    min-height: 100vh;
    background-image:
        url('../images/pine_left.png'),
        url('../images/pine_right.png'),
        url('../images/grains.png'),
        linear-gradient(
            135deg,
            var(--success),
            var(--neutral),
            var(--danger),
            var(--accent-3),
            var(--accent-4),
            var(--accent-1)
        );
    background-attachment: fixed;
    background-repeat: repeat-y, repeat-y, repeat;
    background-position: left top, right top;
    background-blend-mode: normal, normal, overlay;
    font-family: var(--body-fonts);
    font-size: var(--txt-size-md);
    max-width: var(--container-max-width);
    margin: 0 auto;
}

/*************************
* #mainHeader
**************************/

#mainHeader {
    margin: var(--space-md) var(--space-xl);
}

#mainHeader h1 {
    font-family: var(--title-fonts);
    color: var(--foreground-light);
    font-size: var(--title-h1);
    font-weight: normal;
    text-align: center;
}

#mainHeader #mainNav {
    display: flex;
    justify-content: end;
}

#mainHeader #mainNav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

#mainHeader #mainNav ul li {
    margin: var(--space-md) 0;
}

#mainHeader #mainNav ul li a {
    text-decoration: none;
    padding: var(--space-xs) var(--space-md);
    display: inline-block;
    background-color: var(--accent-1);
    color: var(--foreground-light);
    font-size: var(--txt-size-xl);
}

/*************************
* Responsive
**************************/
@media screen and (min-width: 768px ){
    :root{
        --container-max-width: var(--container-max-width-md);
    }
}

@media screen and (min-width: 992px) {
    :root {
        --container-max-width: var(--container-max-width-lg);
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --container-max-width: var(--container-max-width-xl);
    }
}

@media screen and (min-width: 1400px) {
    :root {
        --container-max-width: var(--container-max-width-xxl);
    }
}

@media screen and (min-width: 1700px) {
    :root {
        --container-max-width: var(--container-max-width-xxxl);
    }
}